<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="view.ContinueView"
            id="view.ContinueView"
            name="Continue View"
            icon="icons/icon.png">
      </view>
   </extension>
</plugin>